In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn  as sb

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
sales_data=pd.concat([train,test] , ignore_index = True)
sales_data.head()

C:\Users\amans\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1

In [4]:
sales_data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
dtype: int64

In [5]:
sales_data["Item_Outlet_Sales"] = sales_data["Item_Outlet_Sales"].fillna((sales_data["Item_Outlet_Sales"].mean()))
sales_data["Item_Weight"] = sales_data["Item_Weight"].fillna((sales_data["Item_Weight"].mean()))

In [6]:
sales_data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales               0
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
dtype: int64

In [7]:
sales_data["Outlet_Size"] = sales_data["Outlet_Size"].fillna((sales_data["Outlet_Size"].mode()[0]))

In [8]:
Zero_Item_Visibility =(sales_data['Item_Visibility']==0)
print (Zero_Item_Visibility.sum())

879

In [9]:
sales_data['new_Item_Identifier']=sales_data['Item_Identifier'].apply(lambda x:x[0:2])

In [10]:
sales_data.isnull().sum()

Item_Fat_Content             0
Item_Identifier              0
Item_MRP                     0
Item_Outlet_Sales            0
Item_Type                    0
Item_Visibility              0
Item_Weight                  0
Outlet_Establishment_Year    0
Outlet_Identifier            0
Outlet_Location_Type         0
Outlet_Size                  0
Outlet_Type                  0
new_Item_Identifier          0
dtype: int64

In [11]:
sales_data['new_Item_Identifier']=sales_data['new_Item_Identifier'].replace({'FD':'food','NC':'non-consumable','DR':'drinks'})

In [12]:
sales_data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store,food
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,non-consumable

In [13]:
sales_data['Item_Fat_Content']=sales_data['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
sales_data['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [14]:
sales_data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store,food
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,non-consumable

In [15]:
sales_data.drop(['Item_Outlet_Sales'],axis=1,inplace=True)

In [16]:
sales_data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,FDA15,249.8092,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
1,Regular,DRC01,48.2692,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,FDN15,141.6180,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
3,Regular,FDX07,182.0950,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store,food
4,Low Fat,NCD19,53.8614,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,non-consumable

In [17]:
sales_data['Item_Fat_Content'].value_counts()

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [18]:
sales_data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,FDA15,249.8092,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
1,Regular,DRC01,48.2692,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,FDN15,141.6180,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
3,Regular,FDX07,182.0950,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store,food
4,Low Fat,NCD19,53.8614,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,non-consumable

In [19]:
sales_data.drop(['Item_Identifier'],axis=1,inplace=True)

In [20]:
sales_data.head()

,Item_Fat_Content,Item_MRP,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,249.8092,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
1,Regular,48.2692,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,141.6180,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,food
3,Regular,182.0950,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,Medium,Grocery Store,food
4,Low Fat,53.8614,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,non-consumable

In [21]:
sales_data.drop(['Outlet_Identifier'],axis=1,inplace=True)

In [22]:
sales_data.head()

,Item_Fat_Content,Item_MRP,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,Low Fat,249.8092,Dairy,0.016047,9.30,1999,Tier 1,Medium,Supermarket Type1,food
1,Regular,48.2692,Soft Drinks,0.019278,5.92,2009,Tier 3,Medium,Supermarket Type2,drinks
2,Low Fat,141.6180,Meat,0.016760,17.50,1999,Tier 1,Medium,Supermarket Type1,food
3,Regular,182.0950,Fruits and Vegetables,0.000000,19.20,1998,Tier 3,Medium,Grocery Store,food
4,Low Fat,53.8614,Household,0.000000,8.93,1987,Tier 3,High,Supermarket Type1,non-consumable

In [23]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x_1=LabelEncoder()

In [24]:
sales_data['new_Item_Identifier'] = labelencoder_x_1.fit_transform(sales_data['new_Item_Identifier'])

In [25]:
sales_data['new_Item_Identifier'].value_counts()

1    10201
2     2686
0     1317
Name: new_Item_Identifier, dtype: int64

In [26]:
sales_data['Item_Fat_Content'] = labelencoder_x_1.fit_transform(sales_data['Item_Fat_Content'])
sales_data['Item_Type'] = labelencoder_x_1.fit_transform(sales_data['Item_Type'])
sales_data['Outlet_Location_Type'] = labelencoder_x_1.fit_transform(sales_data['Outlet_Location_Type'])
sales_data['Outlet_Size'] = labelencoder_x_1.fit_transform(sales_data['Outlet_Size'])

In [27]:
sales_data['Outlet_Type'] = labelencoder_x_1.fit_transform(sales_data['Outlet_Type'])

In [28]:
sales_data.head()

,Item_Fat_Content,Item_MRP,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Size,Outlet_Type,new_Item_Identifier
0,0,249.8092,4,0.016047,9.30,1999,0,1,1,1
1,1,48.2692,14,0.019278,5.92,2009,2,1,2,0
2,0,141.6180,10,0.016760,17.50,1999,0,1,1,1
3,1,182.0950,6,0.000000,19.20,1998,2,1,0,1
4,0,53.8614,9,0.000000,8.93,1987,2,0,1,2

In [30]:
sales_data.loc[Zero_Item_Visibility,'Item_Visibility']=sales_data["Item_Visibility"].mean()

In [31]:
x=sales_data

In [32]:
y=train['Item_Outlet_Sales']

In [33]:
x_train = x[:len(train)]
x_test = x[len(train):]

In [34]:
x_train.shape

(8523, 10)

In [35]:
y.shape

(8523,)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
xtrain, xtest, ytrain, ytest = train_test_split(x_train, y,test_size = 0.1, random_state = 0)

In [37]:
sc_x=StandardScaler()
xtrain= sc_x.fit_transform(xtrain)
xtest = sc_x.transform(xtest)

In [46]:
#importing keras
import keras
from keras.models import Sequential
from keras.layers import Dense

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(10, activation='relu', input_dim = 10))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(100, activation='relu'))
model.add(tf.keras.layers.Dense(1))

model.compile(optimizer="adam", loss="mean_squared_error")

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\amans\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From C:\Users\amans\Anaconda3\lib\site-packages\tensorflow\python\keras\utils\losses_utils.py:170: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [47]:
model.fit(xtrain,ytrain,batch_size=10,nb_epoch=200)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
WARNING:tensorflow:From C:\Users\amans\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/200
7670/7670 [==============================] - 2s 284us/sample - loss: 3044222.0628
Epoch 2/200
7670/7670 [==============================] - 2s 196us/sample - loss: 1449728.8057
Epoch 3/200
7670/7670 [==============================] - 1s 195us/sample - loss: 1357259.5705
Epoch 4/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1313381.5041
Epoch 5/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1282214.4476
Epoch 6/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1266819.9301
Epoch 7/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1252203.4174
Epoch 8/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1241311.8914
Epoch 9/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1235970.4228
Epoch 10/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1231171.4243
Epoch 11/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1221712.7068
Epoch 12/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1217106.8157
Epoch 13/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1214968.4515
Epoch 14/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1212211.2846
Epoch 15/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1209162.4206
Epoch 16/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1208156.3179
Epoch 17/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1201492.5966
Epoch 18/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1201647.8181
Epoch 19/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1196352.8210
Epoch 20/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1193405.7450
Epoch 21/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1193199.1832
Epoch 22/200
7670/7670 [==============================] - 1s 183us/sample - loss: 1192457.3096
Epoch 23/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1188704.6020
Epoch 24/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1187074.8735
Epoch 25/200
7670/7670 [==============================] - 1s 169us/sample - loss: 1185489.3143
Epoch 26/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1184522.3862
Epoch 27/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1186737.4958
Epoch 28/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1181509.0944
Epoch 29/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1180726.3216
Epoch 30/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1180697.5203
Epoch 31/200
7670/7670 [==============================] - 1s 167us/sample - loss: 1177839.1978
Epoch 32/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1178880.8701
Epoch 33/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1178881.3055
Epoch 34/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1174382.1869
Epoch 35/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1175366.7090
Epoch 36/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1173085.5068
Epoch 37/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1170712.9077
Epoch 38/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1169710.5355
Epoch 39/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1170356.7103
Epoch 40/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1169450.4421
Epoch 41/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1167582.7555
Epoch 42/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1166961.6646
Epoch 43/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1166209.6582
Epoch 44/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1164338.6289
Epoch 45/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1165789.1764
Epoch 46/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1164469.2845
Epoch 47/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1162712.2819
Epoch 48/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1162323.4151
Epoch 49/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1161488.4033
Epoch 50/200
7670/7670 [==============================] - 1s 159us/sample - loss: 1163982.7899
Epoch 51/200
7670/7670 [==============================] - 1s 159us/sample - loss: 1159315.3587
Epoch 52/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1158278.3153
Epoch 53/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1161234.4632
Epoch 54/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1158985.7746
Epoch 55/200
7670/7670 [==============================] - 1s 192us/sample - loss: 1159962.6495
Epoch 56/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1158347.4814
Epoch 57/200
7670/7670 [==============================] - 1s 141us/sample - loss: 1159355.3118
Epoch 58/200
7670/7670 [==============================] - 1s 195us/sample - loss: 1157558.6001
Epoch 59/200
7670/7670 [==============================] - 1s 182us/sample - loss: 1156866.8925
Epoch 60/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1158387.7350
Epoch 61/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1156024.6378
Epoch 62/200
7670/7670 [==============================] - 1s 160us/sample - loss: 1156519.5540
Epoch 63/200
7670/7670 [==============================] - 1s 167us/sample - loss: 1158312.8094
Epoch 64/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1156983.1932
Epoch 65/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1154644.1265
Epoch 66/200
7670/7670 [==============================] - 1s 156us/sample - loss: 1156140.8498
Epoch 67/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1152465.4676
Epoch 68/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1156277.8936
Epoch 69/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1154760.9554
Epoch 70/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1153096.2569
Epoch 71/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1154155.3558
Epoch 72/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1154231.3724
Epoch 73/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1153859.2140
Epoch 74/200
7670/7670 [==============================] - 1s 168us/sample - loss: 1153625.3082
Epoch 75/200
7670/7670 [==============================] - 1s 164us/sample - loss: 1153939.4534
Epoch 76/200
7670/7670 [==============================] - 1s 161us/sample - loss: 1152809.8151
Epoch 77/200
7670/7670 [==============================] - 1s 164us/sample - loss: 1152170.2891
Epoch 78/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1156827.5086
Epoch 79/200
7670/7670 [==============================] - 1s 169us/sample - loss: 1149960.3692
Epoch 80/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1152647.8317
Epoch 81/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1152554.4725
Epoch 82/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1151755.7922
Epoch 83/200

7670/7670 [==============================] - 1s 186us/sample - loss: 1153422.7198
Epoch 84/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1152320.8456
Epoch 85/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1151211.1808
Epoch 86/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1148764.4830
Epoch 87/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1156714.8663
Epoch 88/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1151026.2352
Epoch 89/200
7670/7670 [==============================] - 1s 148us/sample - loss: 1152177.2311
Epoch 90/200
7670/7670 [==============================] - 1s 164us/sample - loss: 1151529.5771
Epoch 91/200
7670/7670 [==============================] - 1s 146us/sample - loss: 1151903.7120
Epoch 92/200
7670/7670 [==============================] - ETA: 0s - loss: 1146547.828 - 1s 172us/sample - loss: 1148352.3903
Epoch 93/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1153973.2250
Epoch 94/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1150822.6682
Epoch 95/200
7670/7670 [==============================] - 1s 168us/sample - loss: 1148386.1904
Epoch 96/200
7670/7670 [==============================] - 1s 168us/sample - loss: 1149218.2055
Epoch 97/200
7670/7670 [==============================] - 1s 182us/sample - loss: 1151402.5926
Epoch 98/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1151200.1682
Epoch 99/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1152244.7599
Epoch 100/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1154769.2915
Epoch 101/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1149878.6876
Epoch 102/200
7670/7670 [==============================] - 1s 169us/sample - loss: 1147472.5062
Epoch 103/200
7670/7670 [==============================] - 1s 166us/sample - loss: 1151677.3438
Epoch 104/200
7670/7670 [==============================] - 1s 168us/sample - loss: 1153770.9465
Epoch 105/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1148934.1744
Epoch 106/200
7670/7670 [==============================] - 1s 170us/sample - loss: 1149952.3078
Epoch 107/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1149054.5374
Epoch 108/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1147374.7140
Epoch 109/200
7670/7670 [==============================] - 1s 182us/sample - loss: 1150011.8150
Epoch 110/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1146449.4706
Epoch 111/200
7670/7670 [==============================] - 1s 182us/sample - loss: 1150410.1818
Epoch 112/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1145743.8288
Epoch 113/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1148162.7314
Epoch 114/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1151138.7943
Epoch 115/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1148248.4791
Epoch 116/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1150919.7811
Epoch 117/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1149240.4379
Epoch 118/200
7670/7670 [==============================] - 1s 148us/sample - loss: 1145198.2334
Epoch 119/200
7670/7670 [==============================] - 1s 145us/sample - loss: 1149132.3504
Epoch 120/200
7670/7670 [==============================] - 1s 157us/sample - loss: 1147603.3836
Epoch 121/200
7670/7670 [==============================] - 1s 162us/sample - loss: 1147221.8842
Epoch 122/200
7670/7670 [==============================] - 1s 154us/sample - loss: 1147806.0145
Epoch 123/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1147444.6397
Epoch 124/200
7670/7670 [==============================] - 1s 142us/sample - loss: 1145282.5440
Epoch 125/200
7670/7670 [==============================] - 2s 200us/sample - loss: 1146906.3483
Epoch 126/200
7670/7670 [==============================] - 1s 191us/sample - loss: 1148919.6208
Epoch 127/200
7670/7670 [==============================] - 2s 203us/sample - loss: 1145662.8194
Epoch 128/200
7670/7670 [==============================] - 2s 201us/sample - loss: 1144931.2369
Epoch 129/200
7670/7670 [==============================] - 1s 195us/sample - loss: 1148381.8736
Epoch 130/200
7670/7670 [==============================] - 2s 202us/sample - loss: 1144873.9442
Epoch 131/200
7670/7670 [==============================] - 2s 198us/sample - loss: 1146671.8765
Epoch 132/200
7670/7670 [==============================] - 1s 195us/sample - loss: 1147720.7948
Epoch 133/200
7670/7670 [==============================] - 2s 196us/sample - loss: 1146999.9206
Epoch 134/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1148231.9946s - loss: 116419
Epoch 135/200
7670/7670 [==============================] - 1s 159us/sample - loss: 1145408.0939
Epoch 136/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1144982.5941
Epoch 137/200
7670/7670 [==============================] - 1s 178us/sample - loss: 1144575.8574
Epoch 138/200
7670/7670 [==============================] - 1s 189us/sample - loss: 1146668.6696
Epoch 139/200
7670/7670 [==============================] - 1s 132us/sample - loss: 1146895.6824
Epoch 140/200
7670/7670 [==============================] - 1s 127us/sample - loss: 1144701.4962
Epoch 141/200
7670/7670 [==============================] - 1s 126us/sample - loss: 1146987.5613
Epoch 142/200
7670/7670 [==============================] - 1s 128us/sample - loss: 1146153.6789
Epoch 143/200
7670/7670 [==============================] - 1s 151us/sample - loss: 1148355.1752
Epoch 144/200
7670/7670 [==============================] - 1s 186us/sample - loss: 1144536.2327
Epoch 145/200
7670/7670 [==============================] - 2s 237us/sample - loss: 1143994.1299s
Epoch 146/200
7670/7670 [==============================] - 2s 281us/sample - loss: 1146638.6952
Epoch 147/200
7670/7670 [==============================] - 2s 253us/sample - loss: 1146129.5161
Epoch 148/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1144560.1372
Epoch 149/200
7670/7670 [==============================] - 1s 137us/sample - loss: 1145585.1620
Epoch 150/200
7670/7670 [==============================] - 1s 133us/sample - loss: 1143995.2761
Epoch 151/200
7670/7670 [==============================] - 1s 191us/sample - loss: 1145201.2543
Epoch 152/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1145966.2636
Epoch 153/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1146603.7634
Epoch 154/200
7670/7670 [==============================] - 1s 165us/sample - loss: 1146752.0963
Epoch 155/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1144959.9116
Epoch 156/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1146412.1669s -
Epoch 157/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1144580.3164
Epoch 158/200
7670/7670 [==============================] - 1s 184us/sample - loss: 1147363.4113
Epoch 159/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1145333.3983
Epoch 160/200
7670/7670 [==============================] - 1s 156us/sample - loss: 1149113.9874
Epoch 161/200
7670/7670 [==============================] - 1s 164us/sample - loss: 1146259.8001
Epoch 162/200
7670/7670 [==============================] - 1s 156us/sample - loss: 1147955.3765
Epoch 163/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1145677.7990
Epoch 164/200
7670/7670 [==============================] - 1s 174us/sample - loss: 1143643.8376
Epoch 165/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1146271.9187
Epoch 166/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1143995.2595
Epoch 167/200
7670/7670 [==============================] - 1s 132us/sample - loss: 1141876.3978
Epoch 168/200

7670/7670 [==============================] - 1s 163us/sample - loss: 1144113.0910
Epoch 169/200
7670/7670 [==============================] - 1s 136us/sample - loss: 1143237.7194
Epoch 170/200
7670/7670 [==============================] - 1s 175us/sample - loss: 1144626.1883
Epoch 171/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1141729.8750
Epoch 172/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1142862.7730
Epoch 173/200
7670/7670 [==============================] - 1s 169us/sample - loss: 1147455.6327
Epoch 174/200
7670/7670 [==============================] - 1s 176us/sample - loss: 1143898.9468
Epoch 175/200
7670/7670 [==============================] - 1s 188us/sample - loss: 1143341.3510
Epoch 176/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1142012.6863
Epoch 177/200
7670/7670 [==============================] - 1s 183us/sample - loss: 1142658.4256
Epoch 178/200
7670/7670 [==============================] - 1s 194us/sample - loss: 1143065.2435
Epoch 179/200
7670/7670 [==============================] - 2s 201us/sample - loss: 1143551.0003
Epoch 180/200
7670/7670 [==============================] - 1s 186us/sample - loss: 1140698.7904
Epoch 181/200
7670/7670 [==============================] - 1s 171us/sample - loss: 1138159.9775
Epoch 182/200
7670/7670 [==============================] - 1s 173us/sample - loss: 1143642.9119
Epoch 183/200
7670/7670 [==============================] - 1s 121us/sample - loss: 1144619.8213
Epoch 184/200
7670/7670 [==============================] - 1s 147us/sample - loss: 1141811.5527
Epoch 185/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1140006.8853
Epoch 186/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1143384.3061
Epoch 187/200
7670/7670 [==============================] - 1s 181us/sample - loss: 1142506.9616
Epoch 188/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1142209.7358
Epoch 189/200
7670/7670 [==============================] - 1s 180us/sample - loss: 1141193.4044
Epoch 190/200
7670/7670 [==============================] - 1s 172us/sample - loss: 1140287.4487
Epoch 191/200
7670/7670 [==============================] - 1s 149us/sample - loss: 1142539.0022
Epoch 192/200
7670/7670 [==============================] - 1s 153us/sample - loss: 1143269.4404
Epoch 193/200
7670/7670 [==============================] - 1s 136us/sample - loss: 1139796.3978
Epoch 194/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1142332.2235
Epoch 195/200
7670/7670 [==============================] - 1s 187us/sample - loss: 1141310.9407
Epoch 196/200
7670/7670 [==============================] - 1s 186us/sample - loss: 1138123.7844
Epoch 197/200
7670/7670 [==============================] - 1s 188us/sample - loss: 1141246.8504
Epoch 198/200
7670/7670 [==============================] - 1s 187us/sample - loss: 1140955.3011
Epoch 199/200
7670/7670 [==============================] - 1s 177us/sample - loss: 1141951.3576
Epoch 200/200
7670/7670 [==============================] - 1s 179us/sample - loss: 1144355.5370

In [48]:
y_pred=model.predict(xtest)

In [49]:
from sklearn.metrics import mean_squared_error, r2_score
print(r2_score(ytest, y_pred))

0.6037349547700546

In [50]:
rmse = np.sqrt(mean_squared_error(ytest, y_pred))
rmse

1089.766344067167